/* body > #root > div {
  height: 100vh;
} */

html {
  background-color: black;
}    

.large-carousel {
  max-height: 500px
}

.navbar-dark .navbar-nav .nav-link {
  font-family: "Arial Narrow";  
}

.button-text {
  font-family: "Arial Narrow";  
}

.pageTxt {
  font-family: "Helvetica"
}

.home-header-top {
  font-family: "Arial Narrow";
  padding-top: 30px;  
}

.home-padding-bottom {  
  padding-bottom: 30px;  
}

.padding-generic {
  padding: 5%;
}

.carousel-div {
  /* background-color: black; */
  /* background-image: linear-gradient(black, #181818, black); */
}

.carousel-maxheight {
  max-height: 600px;  
}

.carousel-selection-maxheight {
  max-height: 500px;  
}

.carousel-selection-caption {  
    position: absolute;
    right: 15%;
    bottom: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.responsive {
  width: 100%;
  height: auto;
}

.selection-padding {
  padding-left: 20%;
  padding-right: 20%;
}

.selection-item-text-container {
  background-color: black;
  width: 100%
}

.selection-item-text  {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.selection-item-container {
  position: relative;
  text-align: center;
  color: white;
}

.table {
	display: table;
	width: 100%;
}

.table-cell {
  display: table-cell;
  /* width: calc(100% / 3); */
  height: auto;
}

@media (max-width: 479px) {
  body {
      font-size: 13px;
  }  
}

.paddingTop {
  padding-top: 100px
}

.header-padding {
  padding-top: 100px
}

.darken-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: brightness(50%);
}

.home-intro {
  padding-left: 10%;
  padding-right: 10%;
}

.home-text {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.App {
  text-align: center;
  /* background-color: rgb(27, 0, 0); */
  background-color: black;
  background-image: linear-gradient(black, #181818, black);
  height: 100%;
  margin: 0
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media screen and (min-width: 1200px) {
  .carousel-margin {
    margin-left: 10%;
    margin-right: 10%;
  }
  
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
